.edit-website-container {
    padding: 20px;


}

.edit-website-container input {
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
}

.add-btn {
    width: 250px;
    background-color: black;
    padding: 10px;
    font-size: 15px;
}

.edit-website-container select {
    width: 50%;
    height: 30px;
}

@media only screen and (max-width:800px) {
    .edit-website-container input {
        width: 90%;

    }
}