.client-container {
    text-align: center;
    padding: 30px;
    color: white;
    /* background-color: black; */
    /* color: white; */
}

.logo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* .logo-div {
    box-shadow: 0 0 10px 5px #48abe0,
        0 0 20px 7px #ebecca,
        0 0 25px 20px #8a2be2,
        0 0 30px 25px #ff1493;
} */

.logo-div img {
    width: 80px;
    background-color: white;

}

@media only screen and (max-width:750px) {

    .client-container {
        font-size: 15px;
        padding: 10px;

        /* background-color: black; */
        /* color: white; */
    }

    .logo-div img {
        width: 40px;

    }

    .logo-container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

}