
.client-container {
    text-align: center;
    padding: 30px;
    /* background-color: black; */
    /* color: white; */
}

.logo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo-div img {
    width: 80px;
    
}