.client-container {
    text-align: center;
    padding: 30px;
    color: white;
    /* background-color: black; */
    /* color: white; */
}

.logo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text-div h2 {
    background: -webkit-linear-gradient(20deg, #053574, #049c50), cyan;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-div img {
    width: 80px;
    background-color: white;

}

@media only screen and (max-width:750px) {

    .client-container {
        font-size: 15px;
        padding: 10px;

        /* background-color: black; */
        /* color: white; */
    }

    .logo-div img {
        width: 40px;

    }

    .logo-container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

}