.header-div {
    background-color: aqua;
    justify-content: center;
    padding: 20px;
    display: flex;
}

.dashboard-container {
    display: grid;
    /* height: 100vh; */
}

.dashboard-links {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .7s;
    transform: translateX(-15vw);
    padding-top: 60px;
    width: 250px;
    background-color: yellowgreen;
    /* visibility: hidden; */
    /* display: none; */
}

.dashboard-links a {
    display: block;
    text-decoration: none;
}

.dashboard-links .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
    color: white;
}

.dashboard-links a {
    margin: 10px;
    text-decoration: none;
}

.menuShow {
    /* margin-left: 250px; */
   visibility: visible;
    transition: .7s;
    padding-left: 100px;
    transform: translateX(0px);
}

@media only screen and (max-width:1024px) {
    
}