:root {
    --btn-color: white;
    --mainColor: #0C081E;
    --textColor: white;
    --linkHoverColor: #DB2B39;
}

.header-div {
    background-color: var(--mainColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 100px;
}

.header-div a {

    color: var(--textColor);

}

.dashboard-container {
    display: grid;
    /* height: 100vh; */
}

.dashboard-links {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .7s;
    transform: translateX(-100vw);
    padding-top: 60px;
    width: 250px;
    background-color: var(--mainColor);
}

.dashboard-links a {
    display: block;
    text-decoration: none;
    color: var(--textColor);
    font-size: 20px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 15px;
}

.dashboard-links a:hover {
    color: var(--linkHoverColor);
}

.dashboard-links .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
    color: white;
}

.header-div .open-btn {
    position: relative;
    /* top: 5px; */
    right: 15px;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}



.menuShow {

    transform: translateX(0px);
    transition: .7s;

}

@media only screen and (max-width:1024px) {}