.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-top: 50px; */
    
}

.contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C081E;
    color: white;
    font-size:larger;

}

.form-div {
    background-color: white;
}


@media only screen and (max-width:750px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}