.banner-div {
    padding-top: 80px;
    /* position: absolute;
    z-index: -1; */
    /* border-top: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
    /* background-color: #e0ffff; */
    /* background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 31%, #e0ffff 41%); */
    background: rgb(255, 255, 255);
    background: linear-gradient(63deg, rgba(255, 255, 255, 1) 13%, rgba(181, 245, 245, 1) 38%);

}

.btn-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.text-div h1 {
    font-size: 50px;
    color: darkslategray;
    /* color: black; */
    /* -webkit-text-fill-color: white; */
    /* Will override color (regardless of order) */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkslategray; */
}

.btn-div button {

    color: white;
    background-color: darkslategray;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 15px;
    border-radius: 30px;
    font-size: 20px;

}

.btn-div button:hover {
    background-color: white;
    color: darkslategray;
    border: 1px solid darkslategray;
    cursor: pointer;
}


@media only screen and (max-width:1024px) {

    .banner-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 100vw; */

    }

    .btn-div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-img img {

        width: 60%;

    }

    .text-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-div h1 {
        font-size: 20px;
        color: darkslategray;
        /* color: black; */
        /* -webkit-text-fill-color: white; */
        /* Will override color (regardless of order) */
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darkslategray; */
    }

    .btn-div button {
        color: white;
        background-color: darkslategray;
        border: 1px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 30px;
        margin: 15px;
        border-radius: 30px;
        font-size: 15px;

    }

   
}