.banner-div {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(158, 247, 224, 1) 50%, rgba(255, 255, 255, 1) 75%); */

}

.btn-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.text-div {
    text-align: center;
}

.text-div h1 {
    font-size: 50px;
    /* color: darkslategray; */
    color: #fff;
    text-shadow:
        /* 0 0 7px #fff, */
        0 0 10px #fff,
        /* 0 0 21px #fff, */
        0 0 42px #0fa,
        /* 0 0 82px #0fa,
        0 0 92px #0fa, */
        /* 0 0 102px #0fa, */
        0 0 151px #0fa;

}



.text-div h2 {
    font-size: 40px;
    color: white;
}


.btn-div button {

    color: white;
    background-color: darkslategray;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 15px;
    border-radius: 30px;
    font-size: 20px;

}

.btn-div button:hover {
    background-color: white;
    color: darkslategray;
    border: 1px solid darkslategray;
    cursor: pointer;
}


@media only screen and (max-width:1024px) {

    .banner-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 100vw; */

    }

    .btn-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-img img {

        width: 60%;

    }

    .text-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-div h1 {
        font-size: 35px;
        /* color: darkslategray; */
        /* color: black; */
        /* -webkit-text-fill-color: white; */
        /* Will override color (regardless of order) */
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darkslategray; */
    }

    .text-div h2 {
        font-size: 20px;
        color: white;
    }

    .btn-div button {
        color: white;
        background-color: darkslategray;
        border: 1px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 30px;
        margin: 15px;
        border-radius: 30px;
        font-size: 15px;

    }


}