:root {
    --font-color: white;
    --border-color: white;
    --button-color: orangered;
    --button-hover-color: crimson;
}



.pricing-container {

    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;



}

.pricing-container div {
    width: 400px;
    height: 600px;
    color: var(--font-color);
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: justify;

}

.pricing-container div span {
    display: inline;
    margin-left: 30px;
}

.pricing-container div button {
    margin-top: 50px;
    width: 60%;
    height: 40px;
    font-size: larger;
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
}

.pricing-container div button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    color: var(--font-color);
    border: none;
}


@media only screen and (max-width:1024px) {

    .pricing-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .pricing-container div {
        width: auto;
        padding: 10px;
    }
}